<html>

<head>
	<title>Error</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

<style>
h1 {text-align: center;}
</style>

</head>

<body>

        <h1>
            Error: Invalid SMILES or PDB ID, <br>Please input valid SMILES string & PDB ID
        </h1>
        <form action="/error_btn">
            <input type="submit" name="Error" class="ui button" id="error" value="Go Back" />
        </form>

</body>
</html>
